<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='js/jquery360.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head%}{% endblock %}

</head>

<body bgcolor="gray">

    <br>

    <center>

    <table class="general" border=0>
    <tr><td width="100">
        {% if 'usuario' in session %}
            <a href="{{ url_for('remove') }}"><img src="../static/images/bd_remove.png" title="Eliminar tabla" width="30"></a>&nbsp;
            <a href="{{ url_for('add') }}"><img src="../static/images/bd_add.png" title="Añadir tabla" width="30"></a>
        {% endif %}
    </td>
    <td>
        <h1><a href="{{ url_for('index') }}">BD CRUD</a></h1>
    </td>
    <td width="100">

        {% if 'usuario' in session %}
            <a href="{{ url_for('logout') }}"><img src="../static/images/logout.png" title="Cerrar sesión" width="30"></a>
        {% endif %}

    </td></tr>
    <tr><td colspan="3">

        <img src="../static/images/separador2.png" class="strech"><br>
        <h2>{% block titular %}{% endblock %}</h2>

        <div id="tablas">
            <img src="../static/images/separador2.png" class="strech">
            <br><br>
            {% with messages = get_flashed_messages() %}

                {% if messages %}

                    {% for msg in messages %}
                    <span class="message">{{ msg }}</span><br><br>
                    {% endfor %}

                {% endif %}

            {% endwith %}

            {% block body %}
            {% endblock %}

        </div> <!-- id= tablas -->

    </td></tr>
    </table>

    </center>

</body>
</html>