{% extends "base.html" %}

{% block title %} {{ params.titulo }} {% endblock %}

{% block titular %} {{ params.titulo }} {% endblock %}

{% block body %}

    {% for celdas in params.datos_bd: %}
    <table border="0" cellpadding="5" cellspacing="0">
    <tr><td>
        <a href="{{ url_for('add')}}"><img src="{{ url_for('static', filename='images/bd.png') }}" width="100"></a>
    </td></tr>
    <tr><td align="center">
        {{ celdas }}
    </td></tr>
    </table>
        {% endfor %}

    <table border="0" cellpadding="5" cellspacing="0">
    <tr><td>
        <a href="{{ url_for('add')}}"><img src="{{ url_for('static', filename='images/bd.png') }}" width="100"></a>
    </td></tr>
    <tr><td align="center">
        Añadir Tabla
    </td></tr>
    </table>

    {% endblock %}