{% extends "base.html" %}

{% block title %} {{ params.titulo }} {% endblock %}

{% block titular %} {{ params.titulo }} {% endblock %}

{% block head %}
<script>
    $(document).ready(function(){ // espera que se carge la página para ejecutarse
        /*
        var path = "../static/images/bg" + Math.floor((Math.random() * 2) + 1) + ".png";
        document.getElementsByTagName("body")[0].style = "background-image: url('" + path +"')";
        */
        $("#contenido a").bind("click", function(e){

            if (confirm("¿Eliminar tabla?") != true) {
                return false;
            }

         });

    });
</script>
{% endblock %}

{% block body %}

    <div id="contenido">
    {% for filas in params.datos_bd: %}
        {% for celdas in filas: %}
            <table class="inline">
            <tr><td>
                <a href="{{ url_for('remove_table', tabla=celdas)}}"><img src="{{ url_for('static', filename='images/bd_remove.png') }}" width="100"></a>
            </td></tr>
            <tr><td align="center">
                <p>{{ celdas }}
            </td></tr>
            </table>
        {% endfor %}
    {% endfor %}
    </div>

    {% endblock %}