{% extends "base.html" %}

{% block title %} {{ params.titulo }} {% endblock %}

{% block titular %} {{ params.titulo }} {% endblock %}

{% block body %}

    {% for filas in params.datos_bd: %}
        {% for celdas in filas: %}
            <table class="inline">
            <tr><td>
                <a href="{{ url_for('remove_table', tabla=celdas)}}"><img src="{{ url_for('static', filename='images/bd_remove.png') }}" width="100"></a>
            </td></tr>
            <tr><td align="center">
                <p>{{ celdas }}
            </td></tr>
            </table>
        {% endfor %}
    {% endfor %}

    {% endblock %}