{% extends "base.html" %}

{% block title %} Contenido de {{ params.titulo }} {% endblock %}

{% block titular %} Contenido de {{ params.titulo }} {% endblock %}

{% block head%}

<script>

$(document).ready(function(){ // espera que se carge la página para ejecutarse
        $("#btn_insert").bind("click", submit());
        $("#btn_insert").bind("mouseover", cambia_cursor);
        $("#add_controles img").bind("mouseover", cambia_cursor);
        $("#add_controles img").bind("click", remove_campo);
    });

    function insert_campo(){

        sql = "insert into {{ params.titulo }} values(";
        elements = document.getElementById("form_insercion").elements;

        for (i=0; i<elements.length; i++){
            sql += elements[i].value + ", ";
        }

        // quitamos la última coma añadida por el bucle
        resultado = sql.slice(0, -2);
        console.log(resultado+")");

        return false;
    }

    function remove_campo(){
        return false;
    }

    function cambia_cursor(e){
        $(this).css("cursor", "pointer");
    }

</script>

{% endblock %}

{% block body %}


<table border=0>
    <tr>
    {% for filas in columnas: %}
        <!-- comprueba si es la última vuelta del bucle-->
        {% if loop.last %}

            {% for celdas in filas %}
                    <th colspan="2">{{ celdas }}</th>
            {% endfor %}

        {% else %}

            {% for celdas in filas %}
                <th colspan="1">{{ celdas }}</th>
            {% endfor %}

        {% endif %}

    {% endfor %}
    </tr>

    {% for fila in registros: %}
    <tr id="add_controles">
        {% for celda in fila %}
           <td><input type="text" size="5" value="{{ celda }}"> </td>
        {% endfor %}
    <td><img src="../static/images/field_remove.png" width='40'"></td>
    </tr>
    {% endfor %}
    <tr><td colspan="{{ columnas|length +1 }}">
        <img src="../static/images/separador2.png" class="strech">
    </td></tr>

<form name="form_insercion"
    id ="form_insercion"
    action="{{ url_for('insert') }}"
    method="POST">
    <tr>

<!-- forma de acceder a las propiedades de un objeto-->
{% for i in range(columnas|length): %}

    {% if loop.last %}
        <td><input type="text" size="5" name="campo_{{i}}"></td>
        <td><img id="btn_insert" src="../static/images/field_add.png" width="40"></td>
    {% else %}
        <td><input type="text" size="5" name="campo_{{i}}"></td>
    {% endif %}

{% endfor %}
    </tr>
</from>

</table>

{% endblock %}