{% extends "base.html" %}

{% block title %} Contenido de {{ params.titulo }} {% endblock %}

{% block titular %} Contenido de {{ params.titulo }} {% endblock %}

{% block head%}

<script>
lista_valores = "[";

$(document).ready(function(){ // espera que se carge la página para ejecutarse
        $("#btn_insert").bind("click", haz_submit);
        $("#btn_insert").bind("mouseover", cambia_cursor);
        $("img").bind("mouseover", cambia_cursor);
        // [id^=hola] empieza por hola
        // [id$=hola] termina por hola
        $("[id^=add_controles] img").bind("click", elimina_campo);
        $("[id^=add_controles] input").bind("change", registra_cambios);
        $("#img_save").bind("click", guarda_cambios);
        $("#img_save").css("display","none");
});

    function registra_cambios(e){
        // subimos 2 niveles desde donde estamos para coger el id del contenedor
        padre = $(this).parent().parent().attr('id');
        //console.log(padre);
        elementos = "";
        $("#"+padre).find(":text").each(function(){
                //console.log( $(this).attr('id') + " : " + $(this).val() );
                elementos += "'" + $(this).attr('id') + "':'" + $(this).val() + "',";
            }
        );
        lista_valores += "{" + elementos.slice(0, -1) + "},";
        $("#img_save").css("display","block");
    }


    function haz_submit(){
        document.getElementById("form_insercion").submit();
    }


    function elimina_campo(){
        return false;
    }


    function guarda_cambios(){
        lista_valores = lista_valores.slice(0, -1);
        lista_valores += "]";
        console.log(lista_valores);

        $.ajax({
            url: '/update_row',
            type: 'POST',
            data: {dic: lista_valores, pk:"{{ pk}}", tabla:"{{params.titulo}}"},
            success: function(response) {
                $("#img_save").css("display","none");
            }
        });

    }


    function cambia_cursor(e){
        $(this).css("cursor", "pointer");
    }


</script>

{% endblock %}

{% block body %}

<table border=0>
    <tr>
    {% for filas in columnas: %}
        <!-- comprueba si es la última vuelta del bucle-->
        {% if loop.last %}

            {% for celdas in filas %}
                    <th colspan="2">{{ celdas }}</th>
            {% endfor %}

        {% else %}

            {% for celdas in filas %}
                <th colspan="1">{{ celdas }}</th>
            {% endfor %}

        {% endif %}

    {% endfor %}
    </tr>

    {% for fila in registros: %}
        <tr id="add_controles_{{ loop.index }}">
            {% for celda in fila %}
            <td id="td_{{loop.index}}"><input id="campo_{{ loop.index -1 }}" type="text" size="5" value="{{ celda }}"></td>
            {% endfor %}
        <td id="remove"><img src="../static/images/field_remove.png" width='40'" id="img"></td></tr>
    {% endfor %}
    </table>

    <table border=0>
    <tr><td colspan="{{ columnas|length +1 }}">
        <img src="../static/images/separador2.png" class="strech">
    </td></tr>

        <form
            name="form_insercion"
            id ="form_insercion"
            action="{{ url_for('insert') }}"
            method="POST"
        >
        <input type="hidden" name="tabla" id="tabla" value="{{ params.titulo }}">
        <!-- <input type="hidden" name="pk" value="{{ pk }}"> -->

    <tr>

<!-- forma de acceder a las propiedades de un objeto-->
{% for i in range(columnas|length): %}

    {% if loop.last %}
        <td><input type="text" size="5" name="campo_{{i}}" id="campo_{{i}}"></td>
        <td><img id="btn_insert" src="../static/images/field_add.png" width="40"></td>
    {% else %}
        <td><input type="text" size="5" name="campo_{{i}}" id="campo_{{i}}"></td>
    {% endif %}

{% endfor %}
    </tr></table>
</from>

<img src="../static/images/save.png" id="img_save">

{% endblock %}